.idea
.vscode
.fleet
.env
.ht*
.DS_Store
node-modules
bower_components


/www/upload
/www/upload_old
/www/sitemap*.xml
/www/yandex_*.*
/www/export
/www/bitrix/cache*
/www/bitrix/managed_cache*
/www/bitrix/stack_cache*
/www/bitrix/html_pages/
/www/bitrix/admin/sqlnet.log
/www/bitrix/sqlnet.log
/www/bitrix/tmp/*
/www/bitrix/log/*
/www/bitrix/updates/
/www/bitrix/themes/.default/modules.css
/www/bitrix/backup
/www/bitrix/license_key.php
/www/local/php_interface/include/const.php
/www/bitrix/js/ipol.sdek/list.php
/www/bitrix/js/ipol.sdek/errorLog.txt
/www/bitrix/modules/sberbank.ecom/log.txt

#EXCLUDED
*.map
*.log
*.tar*
*.zip
*.rar
*.tar
*.gz
*.iso
*.exe
*.msi
*.rpm
*.deb
*.sql
*.pdf
*.rtf
*.doc
*.docx
*.xls
*.xlsx
*.csv
*.ppt
*.pptx
*.ini
*.gif

!/php*/*
!/nginx/*
!/mysql/*
!/mysql/init/*
!/percona/*
/logs/*
!/logs/.gitkeep