

/* Start:/local/templates/main/components/bitrix/news.list/content_template/style.css?1721579091348*/
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между элементами */
}

.row a {
    flex: 1 1 200px; /* Каждый элемент будет пытаться занять минимум 200px, но может растягиваться, если есть дополнительное место */
}
/* End */
/* /local/templates/main/components/bitrix/news.list/content_template/style.css?1721579091348 */
